<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
h1   {color:White; text-align:center; font-family:Times new roman}
h2   {color: white;}
h2   {text-align:center;}
h3	 {text-align:center;}
p	 {text-align:center; color:white;}
a    {color:white;}
.navbar-header{float:left;}
.navbar-nav{float:right;}

</style>
</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
		<h1>Telangana State Electricity Board</h1>
			<div class="navbar-header">
			
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/admin}">Home</a>
				
				<a class="navbar-brand" href="#" th:href="@{/ind}">View Consumers</a>
				
				<a class="navbar-brand" href="#" th:href="@{/tariff}">Tariff Plans </a>
				
				
				
				<a class="navbar-brand" href="#" th:href="@{/}">view Complaint</a>
				
				<a class="navbar-brand" href="#" th:href="@{/outage}">Outage</a>
				
			</div>
	<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
			
		</div>	
	</nav>

<br><br>
<div align="center">
    <h3>Add New User</h3>
    <br>
</div>
     <div class="col-sm-4">
    <form class="row g-3" action="#" th:action="@{/save3}" th:object="${outage}" method="post">
    <div class="col-md-12"> 
    <input type="hidden" th:field="*{id}" /> 
    </div>
  <div class="col-md-6">
    <label class="form-label" >Pincode</label> 
	  <input type="text" th:field="*{pincode}" class="form-control" placeholder="Enetr Pincode" />
  </div>
  <div class="col-md-6">
    <label class="form-label">Area</label>
    <input type="text" th:field="*{area}" class="form-control" placeholder="Enter Outage area" />
  </div>
  <div class="col-md-6">
    <label class="form-label">Outage Details</label>
    <input type="text" th:field="*{time}" class="form-control" placeholder="Enter details" />
  </div>
  <br>

  <div class="col-md-6">
    <button type="submit" class="btn btn- primary">Save</button>
  </div>
</form>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<div class="navbar-footer" >
			
			<h2><span>&copy;</span>Telangana State Electricity Board</h2>
			<p>Toll free number:1800 2455 1854</p>
			
		</div>
		</div>
		</nav>
</body>
</html>