<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>User home</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
h1   {color:White; text-align:center; font-family:Times new roman}
h2   {color: white;}
h2   {text-align:center;}
h3	 {text-align:center;}
p	 {text-align:center; color:white;}
a    {color:white;}
.navbar-header{float:left;}
.navbar-nav{float:right;}

</style>
</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
		<h1>Telangana State Electricity Board</h1>
			<div class="navbar-header">
			
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/home}">Home</a>
				
				<a class="navbar-brand" href="#" th:href="@{/GenerateBill}">Generate Bill</a>
				
				<a class="navbar-brand" href="#" th:href="@{/}">View Bill</a>
				
				<a class="navbar-brand" href="#" th:href="@{/}">Pay Bill</a>
				
				<a class="navbar-brand" href="#" th:href="@{/}">Register Complaint</a>
				
				<a class="navbar-brand" href="#" th:href="@{/viewoutage}">Outage</a>
				
			</div>
	<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
			
		</div>	
	</nav>

<br>
<br><br><br><br>
<br>
<br>


     <div class="col-sm-4">
    <form class="row g-3" action="#" th:action="@{/save}" th:object="${bill}" method="post">
    <div class="col-md-12"> 
    <input type="hidden" th:field="*{id}" /> 
    </div>
  <div class="col-md-6">
    <label class="form-label" >USC NO</label> 
	  <input type="text" th:field="*{uscNo}" class="form-control" placeholder="USC NO" />
  </div>

  <div class="col-md-6">
    <label class="form-label">Present Reading</label>
    <input type="text" th:field="*{present_reading}" class="form-control" placeholder="Present Month Reading" />
  </div>
  <br><br>
  <br>
  <br>
  <div class="col-md-6">
    <button type="submit" class="btn btn- primary">Save</button>
  </div>
</form>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<div class="navbar-footer" >
			
			<h2><span>&copy;</span>Telangana State Electricity Board</h2>
			<p>Toll free number:1800 2455 1854</p>
			
		</div>
		</div>
		</nav>
</body>
</html>
